@font-face {
  font-family: "Lato";
  src: url(./images/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Bold";
  src: url(./images/Lato-Bold.ttf);
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  align-content: center;
  font-family: "Lato", sans-serif;
}
.first_block {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  align-self: center;
  background: #2d303a;
  color: white;
  box-shadow: 0 5px 0 #323746;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0;
  padding-right: 0;
  z-index: 2;
}
.title {
  width: 1200px;
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
}
.logo {
  font-size: 1.6em;
  margin: 8px 20px 8px 30px;
}
.logo_red {
  font-size: 1.1em;
  color: tomato;
}
.menu {
  margin: auto;
  text-align: right;
  margin-right: 40px;
}
.second_block {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 0;
  background-color: #f06c64;
}
.slide {
  width: auto;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: #f06c64;
  align-self: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 95px;
  margin-bottom: 0;
  color: white;
  box-sizing: border-box;
}
.slide_image {
  width: 1000px;
  height: auto;
}
.third_block {
  width: 1200px;
  max-width: 1200px;
  height: auto;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(36, 32, 32);
  box-sizing: border-box;
}
.services {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  color: rgb(36, 32, 32);
}
.block {
  width: 400px;
  height: 200px;
  margin: 20px 0 20px 0;
  list-style-type: none;
  overflow: hidden;
  padding-left: 100px;
}
.fourth_block {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 0;
  background: rgb(50, 50, 51);
}
.portfolio {
  width: 1200px;
  max-width: 1200px;
  height: auto;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}
.images_columns {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  color: rgb(36, 32, 32);
}
.five_block {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 0;
  background: rgb(50, 50, 51);
  border-top: 4px solid #323746;
}
.lower {
  background-color: rgb(50, 50, 51);
  width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
}
.lower_center {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1.3em;
  font-weight: bold;
  color: #a8a9ad;
}
.social_icons {
  border: 1px solid rgb(146, 145, 145);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social_icons:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
.text {
  font-size: 1.5em;
}
.potfolio_image {
  margin: 20px;
  list-style-type: none;
  overflow: hidden;
}
.icon {
  width: 100%;
  height: 100%;
}
a:hover {
  color: tomato;
}
a:active {
  color: tomato;
}
